mixin header(headerMods, currentUrl)
  -
    const headerLinks = [
      {
        href: "#",
        text: "услуги"
      },
      {
        href: "#",
        text: "условия подключения"
      },
      {
        href: "#",
        text: "о нас"
      },
      {
        href: "#",
        text: "сотрудничать"
      },
    ]

  header.header(class=headerMods, data-header="")
    .container
      +logo()
      .header__wrapper(data-close-menu)
        nav.header__nav
          ul.header__list
            each link in headerLinks
              - const activeState = currentUrl === link.href
              li.header__item
                if(activeState)
                  span.header__link.is-active= link.text
                else
                  a.header__link(href=link.href)= link.text

        a(href="#").header__link-enter Вход
      button.header__burger(type="button", data-burger, aria-label="Переключатель отображения меню", aria-pressed="false")
        span
        span
        span

  //-header.header(class=headerMods, data-header="")
    .container
      +logo("header")
      .header__wrapper(data-close-menu)
        nav.main-nav
          ul.main-nav__list
            each link in headerLinks
              - const activeState = currentUrl === link.href
              li.main-nav__item
                if(activeState)
                  span.main-nav__link.is-active= link.text
                else
                  a.main-nav__link(href=link.href)= link.text
        p.text-indent.header__slogan
          | От простой консультации до сложных судебных споров – мы всегда рядом,
          | чтобы вы могли уверенно двигаться вперед.
        +btn({
          href: "#",
          text: "Консультация"
        })(data-open-modal="sign-up-consultation")
      button.header__menu-button(type="button", data-burger, aria-label="Переключатель отображения меню", aria-pressed="false")
        +icon("open-burger", 15, 15).header__open-burger
        +icon("close-burger", 15, 15).header__close-burger

  //-header.header(class=headerMods)
    .container
      if(currentUrl === "index.html")
        //- lighthouse снимает 10 баллов SEO за <a> без href
        span.header__logo Логотип
      else
        a.header__logo(href="index.html", aria-label="Переход на главную") Логотип
      nav.main-nav
        button.main-nav__toggle.btn-reset(type="button", aria-label="Переключатель отображения меню", aria-pressed="false")
          +icon("icon-burger", 20, 20)
        .main-nav__wrapper
          ul.main-nav__list
            each link in headerLinks
              - const activeState = currentUrl === link.href
              li.main-nav__item
                if(activeState)
                  span.main-nav__link.is-active= link.text
                else
                  a.main-nav__link(href=link.href)= link.text
